{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
  <h1 id="orders-manager-header">manage orders</h1>

  {% for order in orders %}
    <div class="row d-flex justify-content-start pt-3 order">

      <!-- general info -->
      <div class="col-2">
        <div class="d-flex flex-column align-items-center mb-3">
          <p>#{{ order.id }}</p>
          <p>{{ order.user }} | <b>${{ order.price }}</b></p>
          <div id="accept-order-{{ order.id }}-button-container">
            {% if order.accepted %}
              <p>accepted</p>
            {% else %}
              <button 
                type="button" 
                class="accept-order-button btn btn-outline-info btn-block px-5"
                data-url="{% url 'orders:accept_order' %}"
                data-id="{{ order.id }}"
                >
                accept
              </button>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- item by item -->
      <ul  class="col-10">
        {% for item in order.items.all %}
        <li class="li-without-marker mb-1">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-3 row">
              <div class="col-3 font-weight-bold">{{ item.amount }}x</div>
              <div class="col-9 text-capitalize text-truncate">
                {% if not item.menu_item.meal_type.size_variant == 'single' %}
                  {{ item.size.0 }}
                {% endif %}
                {% if item.menu_item.meal_type.name %}
                  {{ item.menu_item.meal_type.name }}
                {% else %}  
                  {{ item.pizza_form }}
                {% endif %}
              </div>

            </div>
            <div class="col-7 text-capitalize">{{ item.name }}</div>
            <div class="col-2">
              <div class="row d-flex justify-content-between">
                <p class="col-5 px-0 text-right">${{ item.price_unit }}</p>
                <p class="col-5 px-0 text-right font-weight-bold">${{ item.price_total }}</p>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>    
  {% endfor %}

  <form id="get-token" hidden>
    {% csrf_token %}
  </form>

{% endblock %}